@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

.ItemDetailContainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 12px;
}

.ItemDetailContainer h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'Iceberg', cursive;
  color: antiquewhite;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}