@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

.ItemListContainer{
 max-width: 1500px;
  margin: 0 auto; 
  padding: 12px;
}
.ItemListContainer h1{
    text-align: center;
    font-family: 'Iceberg', cursive;
    backdrop-filter: blur(15px);
    color: aliceblue;
}

.row {margin: 0 -5px;}
  

.row:after {
  content: "";
  display: table;
  clear: both;
}
.contendorimg{
  position: relative;  
  text-align: center;
}
.contendorimg img{
  width: 60%;
  height: auto;
  display:block;
  margin:auto;  
  }
.centrado{
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.spinner {
    width: 100px;
    height: 100px;
    background-color: #EB5E28;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }