 

  .columnItem {
    float: left;
    width: 20%;
    padding: 10px 10px;
  }  
  
  .imgCardItem{
    width: 100%;
}
  

  @media screen and (max-width: 600px) {
    .columnItem {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  

  .cardItem {
    box-shadow: 0 4px 8px 0 #EB5E28;
    padding: 16px;
    text-align: center;
    background-color: #CCC5B9;
  }