input {
    text-align: center;  
    border: 1px solid #6C757D;
  }       
  .wrapper {
    
    border: 2px #dcd3d3 solid;
    width: 200px;
    height: auto;
    padding: 10px;
    display: inline-flex;
    border-radius: 15px;
  }
  
  .plusminus {
    height: 100%;
    width: 30%;
    background: white;
    border: none;
    font-size: 20px;
    color: #5f5fce;
  }
  
  .num {
    height: 100%;
    width: 39%;
    border: none;
    font-size: 20px;
  }

  .botonAgregar{    
    display: block;    
  }

  .agregarcarrito{    
      border: 1px solid #2e518b; /*anchura, estilo y color borde*/
      padding: 10px; /*espacio alrededor texto*/
      background-color: #2e518b; /*color botón*/
      color: #ffffff; /*color texto*/
      text-decoration: none; /*decoración texto*/
      text-transform: uppercase; /*capitalización texto*/
      font-family: 'Helvetica', sans-serif; /*tipografía texto*/
      border-radius: 50px; /*bordes redondos*/
      
  }

  .agregarcarrito:hover{
    background-color: black;
    color: antiquewhite;

  }
  